<div class ="container px-5 px-sm-0">
  <div class ="row">
    <div class="col-md-4">
      <h2>商品詳細</h2>
        <div class="item_image">
          <%= attachment_image_tag @item, :image, format: 'jpeg', fallback: "no_image.jpg", size:'200x200' %>
        </div>
    </div>
    <div class="col-md-8">
      <div class="text-contents">
        <h4>商品名</h4>
        <%= @item.name %>
      </div>
      <div class="text-contents">
        <h4>商品説明</h4>
        <%= @item.introduction %>
      </div>
      <div class="text-contents">
        <h4>ジャンル</h4>
        <%= @item.genre.name %>
      </div>
      <div class="text-contents">
        <h4>
          税込価格<br>
          (税抜価格)
        </h4>
        <%= number_with_precision(@item.price * 1.1, precision: 0) %> (<%= number_with_precision(@item.price, precision: 0) %>)円
      </div>
      <div class="text-contents">
        <h4>販売ステータス</h4>
        <% if @item.is_status == false %>
          販売停止中
        <% else %>
          販売中
        <% end %>
      </div>
      <div class="text-contents">
        <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>