<%= stylesheet_link_tag 'public/orders' %>
<div class ="container">
  <div class ="row">
    <div class="order-history">Order History</div>
    <div class="col-md-10 mx-auto">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td>
              <%= order.created_at.strftime('%Y/%m/%d') %>
            </td>
            <td>
              〒<%= order.postal_code %><br>
              <%= order.address %><br>
              <%= order.name %>
            </td>
            <td>
              <% order.items.each do |item| %>
              <%= item.name %>
              <% end %>
            </td>
            <td>¥<%= order.total_price %></td>
            <td><%= order.status %></td>
            <td><%= link_to "表示する", order_path(order), class: "btn btn-primary" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>