<div class ="container px-5 px-sm-0">
  <div class ="row">
    <div class="col-md-10">
      <h2>注文情報入力</h2>
      <%= form_with model: @order, url: orders_confirm_path, method: :get, local:true do |f| %>
      <%# current_end_user.orders.each do |order| %>
      <%#= f.hidden_field :id, :value => order.id %>
      <%# end %>
      <div class="text-contents">
        <h4>支払方法</h4>
        <label><%= f.radio_button :method, "クレジットカード" %>クレジットカード</label>
        <label><%= f.radio_button :method, "銀行振り込み" %>銀行振込</label>
      </div>
      <div class="text-contents">
        <h4>お届け先</h4>
        <label><%= f.radio_button :address_option, 0 %>ご自身の住所</label>
        <label><%= f.radio_button :address_option, 1 %>登録済住所から選択</label>
        <%= f.collection_select :address, current_end_user.addresses, :id, :address %>
        <label><%= f.radio_button :address_option, 2 %>新しいお届け先</label>
        <%= form_with model: @address, local:true do |ff| %>
        <div class="form-group">
          <label for="postal_code">郵便番号</label>
          <%= ff.text_field :postal_code, value: @address.postal_code, class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="address">住所</label>
          <%= ff.text_field :address, value: @address.address, class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="name">宛名</label>
          <%= ff.text_field :name, value: @address.name, class: "form-control" %>
        </div>
          <%# @addresses.each do |address| %>
            <%#= ff.hidden_field :id, :value => address.id %>
            <%#= ff.hidden_field :postal_code, :value => address.postal_code %>
            <%#= ff.hidden_field :address, :value => address.address %>
            <%#= ff.hidden_field :name, :value => address.name %>
          <%# end %>
        <% end %>
        <%= f.submit '確認画面へ進む', class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>