<div class ="container">
  <div class ="row">
    <div class="col-md-8">
      <h2>注文履歴詳細</h2>
      <h4>注文情報</h4>
      <table class="table table-striped">
        <% @order_details.each do |order_detail| %>
        <tbody>
          <% @sum = 0 %>
          <% @sum += number_with_precision(order_detail.price * 1.1, precision: 0).to_i * order_detail.amount.to_i %>
          <tr>
            <td>注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td>配送先</td>
            <td>
              〒<%= @order.postal_code %><br>
              <%= @order.address %><br>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td><%= @order.method %></td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td><%= @order.status %></td>
          </tr>
        </tbody>
      </table>
      </div>
      <div class="col-md-4">
        <h4>請求情報</h4>
        <table class="table table-striped">
        <tbody>
          <tr>
            <td>商品合計</td>
            <td><%= @sum %></td>
          </tr>
          <tr>
            <td>配送料</td>
            <% @order.shipping_price = 800 %>
            <td><%= @order.shipping_price %></td>
          </tr>
          <tr>
            <td>ご請求額</td>
            <% @order.total_price = @order.shipping_price + @sum %>
            <td><%= @order.total_price %></td>
          </tr>
        </tbody>
      </table>
      </div>
      <h4>注文内容</h4>
      <table class="table table-striped">
        <thead>
          <th>商品</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
        </thead>
        <tbody>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= number_with_precision(order_detail.price * 1.1, precision: 0) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= number_with_precision(order_detail.price * 1.1.to_i * order_detail.amount.to_i, precision: 0) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>