<%= stylesheet_link_tag 'public/items' %>
  <p class="produts-title">Products</p>
  <div class="image_container">
    <% @items.each do |item| %>
      <div class="item_image">
        <%= link_to item_path(item) do %>
          <%= attachment_image_tag item, :image, format: 'jpeg', fallback: "no_image.jpg", size:'390x260' %><br>
        <% end %>
        <%= item.name %><br>
        ¥<%= number_with_precision(item.price * 1.1, precision: 0) %>
      </div>
    <% end %>
  </div>