<div class ="container px-5 px-sm-0">
  <div class ="row">
    <div class="col-md-10 mx-auto">
      <h2>商品一覧（全<%= @items.count =%>件）</h2>
      <div class="image-container">
      <% @items.each do |item| %>
        <div class="item_image">
          <%= link_to item_path(item) do %>
            <%= attachment_image_tag item, :image, format: 'jpeg', fallback: "no_image.jpg", size:'200x200' %><br>
          <% end %>
          <%= item.name %><br>
          ¥<%= number_with_precision(item.price * 1.1, precision: 0) %>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>