<div class ="container px-5 px-sm-0">
  <div class ="row">
    <div class="col-md-10 mx-auto">
      <h2>商品詳細</h2>
        <%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
        <div class="text-contents">
          <%= f.hidden_field :item_id, :value => @item.id %>
        </div>
        <div class="item_image">
          <%= attachment_image_tag @item, :image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'200x200' %>
        </div>
        <div class="text-contents">
          <%= @item.name %>
          <%= @item.introduction %>
          ¥<%= number_with_precision(@item.price * 1.1, precision: 0) %>(税込)
        </div>
          <div class="form-group">
          <%#= f.collection_select(:cart_item_id, CartItem.all, :id, :amount, include_blank: "個数選択") %>
          <%#= f.select :cart_item_id, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]], :id, :amount, include_blank: "個数選択" %>
          <%= f.select :amount, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], include_blank: "個数選択" %>
          <%= f.submit 'カートに入れる', class:"btn btn-lg btn-block btn-success mt-4" %>
          </div>
        <% end %>
    </div>
  </div>
</div>